

/* regle general pour la page*/
* {
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    font-family: serif;
}

/*image de fond*/
#background {
    background-image: url(img/background.jpg);
    background-size: cover;
    height: 90vh;
}

/* regle css pour le navbar*/
#navbarul a {
    margin: 0 1em 0 1em;
    padding-top: 2em;
    font-weight: bold;
    font-size: 24px;
}

/* effect quand on passe par dessus du navbar*/
#navbarul li:hover {
    border-top: 2px solid white;
}

/* position pour le Lambda*/
#brand {
    padding-top: 2.8em;
    margin-right: 15.5%;
    padding-left: 10.5%;
}

/* regle pour les social media*/
#social {
    padding-top: 2.9em;
}

#social a {
    padding-right: 1.2em;
}

/*position pour le container central*/
#sec2 {
    height: 77vh !important;
    display: flex;
    align-items: center;
}

/*regle pour container central*/ 

* {
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    font-family: serif;
}

#plat {
    background-image: url(images/background.png);
    background-position: bottom;
    background-size: cover;
    min-height: 100vh;
}

#espace-blanc {
    height: 15vh;
}


.card {
    border: none !important;
}


/*regle pour le h1*/
#h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
    font-weight: bold;
}

/* Styles pour le button*/
#button1 {
    opacity: 0.8;
}

#button2 {
    background-color: rgba(255, 255, 255, 0.5);
    border: none !important;
}


/*Responsivite de la page*/
@media only screen and (max-width: 768px) {
    #h1 {
        font-size: 60px;
    }
  }

  @media only screen and (max-width: 390px) {
    #h1 {
        font-size: 45px;
    }
  }


#poid-de-principal{
    margin-top: 200px;

}

  #boite-assiete{
      padding: 50px;
}

#nourriture{
    font-family: 'Fjalla One', sans-serif;
    font-size: 50px;
    color:#bf8219;
}
#nourriture-diago
{
    text-align: center;
}
#grandeur
{width: 350px;}

#about-grandeur{
    margin-bottom: 25px;
}
#texte-de-base{
    text-align: justify;
}
@media screen and (max-width:768px){
    #poid-de-principal{
        width: 100%;
        margin: 0;
        margin-top: 100px;
    }
    #about-grandeur{
        width: 150px;
    }
}
#img-card {
    background-image: url(images/Text\ Background.png);
}

#bottom-card {
    padding-bottom: 5rem;
}

#quoteMark {
    font-size: 1000px;
}
