* { margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
    font-family: 'Times New Roman', Times, serif;
}

#background {
    background-image: url(img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 75vh;
}

#gap {
    gap: 5em;
}

#card h1 {
    color: rgb(200, 159, 45);
}

#card p {
    font-size: 18px;
}

.card {
    border: none !important;
}

#divider1 {
    width: 58%;
}

.btn {
    background-color: rgb(200, 159, 45) !important;
}

label {
    color: rgb(200, 159, 45);
    font-weight: bold;
}



@media only screen and (max-width: 1200px) {
    body #background {
        object-fit: cover;
    }
  }

  @media only screen and (max-width: 768px) {
    .reserv {
        margin-left: 1.5rem;
    }

    #date1 {
        padding-bottom: 1rem;
    }
  }